/.idea/
/out/
/build/
/src/main/resources/application.yml
/logs/api.log
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/8.9/checksums/checksums.lock
/.gradle/8.12.1/checksums/checksums.lock
/logs/db.log
/.gradle/8.9/executionHistory/executionHistory.bin
/.gradle/8.12.1/executionHistory/executionHistory.bin
/.gradle/8.9/executionHistory/executionHistory.lock
/.gradle/8.12.1/executionHistory/executionHistory.lock
/logs/feign.log
/.gradle/file-system.probe
/.gradle/8.9/fileHashes/fileHashes.bin
/.gradle/8.12.1/fileHashes/fileHashes.bin
/.gradle/8.9/fileHashes/fileHashes.lock
/.gradle/8.12.1/fileHashes/fileHashes.lock
/.gradle/8.9/dependencies-accessors/gc.properties
/.gradle/8.9/gc.properties
/.gradle/8.12.1/gc.properties
/.gradle/vcs-1/gc.properties
/logs/kafka.log
/.gradle/8.9/fileChanges/last-build.bin
/.gradle/8.12.1/fileChanges/last-build.bin
/.gradle/8.9/checksums/md5-checksums.bin
/.gradle/buildOutputCleanup/outputFiles.bin
/src/main/generated/com/sparrows/search/common/model/QBaseEntity.java
/src/main/generated/com/sparrows/search/admin/model/entity/QFailureEntity.java
/src/main/generated/com/sparrows/search/kafka/outbox/QOutboxEvent.java
/src/main/generated/com/sparrows/search/admin/model/entity/QReportEntity.java
/.gradle/8.12.1/fileHashes/resourceHashesCache.bin
/.gradle/8.9/checksums/sha1-checksums.bin
